* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #abaaaa;
}

.container {
    width: 300px;
    height: 400px;
    background-color: #f3f3f3;
    border: 1px solid #d0d3d4;
    border-radius: 5px;
}

.view-panel {
    padding: 15px 10px 10px;
    height: 98px;
    width: 300px;
    text-align: right;
    border-radius: inherit;
}

.view-panel-first {
    font-size: 14px;
    width: 270px;
    border: none;
    color: gray !important;
    background-color: #f3f3f3;
    text-align: right;
    margin: 0 3px 5px 0;
}
.view-panel-second {
    font-size: 40px;
    width: 270px;
    border: none;
    color: black;
    background-color: #f3f3f3;
    text-align: right;
}

.button-panel {
    min-height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
}

.equals-button {
    width: 140px !important;
}

button:hover {
    background: #e5e7e9;
    color: black;
}
